.login-container {

  padding-top: 160px;
  background: linear-gradient(
    135deg,
    var(--primary-color) 0%,
    var(--secundary-color) 100%
  );
}

.login-card {
  border: none;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}

.image-col {
  background-color: #f8f9fa; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-placeholder {
  width: 80%;
  max-width: 300px;
}

.form-col {
  padding: 50px 40px;
  background-color: white;
}

.login-title {
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

/* Estilização dos Inputs Arredondados */
.custom-input-group {
  background-color: #e9ecef;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px 20px;
  display: flex;
  align-items: center;
}

.custom-input-group i {
  color: #6c757d;
  margin-right: 10px;
}

.custom-input-group input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  color: #495057;
}

/* Remove o foco padrão do input do bootstrap */
.custom-input-group input:focus {
  box-shadow: none;
}

/* Botão de Login */
.btn-login-form {
  
  background-color: var(--secundary-color); 
  border: solid var(--primary-color);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-login-form:hover {
  background-color: var(--primary-color);
}

.size-btn-login{
  height: auto;
  width: 70%;
  border-radius: 50px;
  padding: 10px 0px;
}

.login-google{
  font-size: 0.9rem;
  color: #6c757d;
  text-align: center;
  display: block;
  text-decoration: none;
  border: solid var(--secundary-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  & i{
    color: #6c757d;
  }

  &:hover{
    background-color: var(--secundary-color);
    color: white;

    & i{
      color: white;
    }
  }
}


.forgot-pass {
  font-size: 0.9rem;
  color: #6c757d;
  text-align: center;
  display: block;
  margin-top: 15px;
  text-decoration: none;
}

.create-account {
  font-size: 0.9rem;
  color: #6c757d;
  text-align: center;
  margin-top: 30px;
  display: block;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.create-account:hover,
.forgot-pass:hover {
  color: #333;
}

/* Ajustes para Mobile */
@media  (max-width: 780px) {
  .login-container {
    padding-top: 30px;
    height: 100dvh;
  }
}

 @media (max-width: 600px) {

  .login-container {
    padding-top: 50px;
  }
  .image-col {
    display: none;
  }

  .login-card{
    padding: 40px 0px;
  }

} 
