.section-category-service{
    width: 100%;
    height: 35vh;
    border-radius: 10px;
    margin-bottom: 50px;

    & h3{
        padding: 30px 0px;
    }
}


.btn-category-service{ 
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    overflow-x: auto;

    & a{
        text-decoration: none;
        width: 150px;
        height: 100px;
        margin-right: 15px;
        border-radius: 10px;

        font-weight: bold;

        color: var(--black-md-color);
        background-color: var(--withe);
        border: solid 3px var(--primary-color);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover{
            background-color: var(--primary-color);
            color: #fff;
        }
    }
}

@media ( max-width: 900px ) {
    .section-category-service{
    width: 100%;
    height: 90%;

        & a{
        width: 90px;
        height: 90px;
        padding: 0px 10px;
    }
}

    .btn-category-service{
        justify-content: space-around;
        scrollbar-color: #ff000000 #ffa60000;
        
    }
}



