header{
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & a{
        text-decoration: none;
        color: var(--darck-md-color);
    }

    & nav{
        display: flex;
        align-items: center;
        justify-content: center;

        & i{
            cursor: pointer;
        }
        & .btn{
            padding: 0;
            border: none;
            background: transparent;

            &:hover{
            background: transparent; 
            }
        }
    }

}

/* Estilo bootstrap menu navegção */
.navbar{
    background: linear-gradient(var(--primary-color), var(--secundary-color));
    box-shadow: 0px 4px 2px -2px var(--primary-dark);
    font-weight: 600;
    color: var(--darck-md-color);
}


/* Estilo logo */
.logo{
    display: flex;
    margin-top: 5px;
    cursor: pointer;

    & p {
        font-weight: bold;

        & span{
            color: var(--primary-color);
        }
    }

    & i{
        margin: 10px 3px;
    }
}



/* Reponsividade ------------------------- */

@media (max-width: 900px) {

    header{
        height: 60px;
    }

  .search{
    display: none;
  }

  .logo{

      p {
        margin-top: 5px;
         font-size: 28px;
     }
 
     i {
         font-size: 30px;
     }

  }

      & nav{
        & i{
            font-size: 18px;
            margin-left: 5px;
        }

    }

}

@media (min-width: 901px) {
    header{
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: var(--white);
        border-bottom: solid 1px var(--border-color);
    }

    .logo{
        p {
            font-size: 40px;
        }
        i{
            font-size: 40px;
        }
    }

    #search-moba{
        display: none;
    }

    .navbar-brand{
        display: none;
    }

    
    & .search{
        width: 400px;
        height: 40px;
        border-radius: 20px;
        border: solid 1px var(--border-color);

        display: flex;
        align-items: center;

        & input{
            width: 90%;
            padding-left: 15px;
            border-radius: 10px;
            border: none;
            outline: none;
        }
    }

      .navbar{
    margin-top: 90px;
  }

        & nav{
        & i{
            font-size: 24px;
            margin: 0px 10px;
        }
    }

}