

body {
    background-color: #ebeced;;
}

/* Fundo colorido atrás do header */
.profile-header-bg {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secundary-color) 100%);
    height: 200px;
    width: 100%;
    position: absolute;
    top: 80px; /* Ajuste conforme a altura do seu navbar */
    left: 0;
    z-index: 0;
}

/* Container que puxa o conteúdo para cima */
.main-profile-container {
    position: relative;
    z-index: 1;
    margin-top: 120px; /* Empurra para baixo para revelar o background */
}

/* Card Principal do Topo */
.profile-main-card {
    border-radius: 15px;
    overflow: hidden;
}

.profile-avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: #ddd;
}

/* Tags e Badges */
.badge-custom {
    background-color: #eef2ff;
    color: #4b6cb7;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 5px;
}

.badge-featured {
    background-color: #556ee6;
    color: white;
}

/* Estilo dos itens de lista de serviços */
.service-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #555;
}

.service-list-item i {
    color: #4b6cb7;
    margin-right: 10px;
    font-size: 0.5rem; /* Bolinha pequena */
}

/* Botões laterais */
.btn-warning {
    background-color: #eaa636;
    border: none;
}
.btn-warning:hover {
    background-color: #d6952c;
    color: white;
}